@font-face {
  font-family: "PoppinsRegular";
  src: url("./fonts/Poppins-Regular.ttf") format("ttf");
}

* {
  box-sizing: border-box;
  font-family: PoppinsRegular;
  margin: 0;
  padding: 0;
}
.search__part {
  display: flex;
  justify-content: center;
  height: 35vh;
  align-items: center;
  position: relative;
}

.search__part > div {
  font-size: 35px;
  font-weight: 700;
}

.search__part::before {
  content: "";
  background-image: url("./images/banner.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.65;
  z-index: -1;
}

.input__block {
  display: flex;
  justify-content: center;
  position: relative;
  transform: translateY(-30px);
  margin-bottom: 50px;
  width: fit-content;
  align-items: center;
  margin: 0 auto;
}

.text__box {
  border: 0;
  width: 40vw;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgb(0 0 0 / 15%);
  padding: 10px;
}

.search__icon {
  position: absolute;
  right: 0;
}
.image__class {
  padding: 4px;
}
